# --- Python (Backend) ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.DS_Store

# 데이터 파일 (너무 커서 Git에 올리면 안 됨)
*.duckdb
*.pth
*.pkl
*.csv
backend/data/

# --- Node.js (Frontend) ---
node_modules/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local

# --- Docker ---
.docker/

# --- IDE ---
.vscode/
.idea/